extends layout

block content
  h1= title
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nunc tellus, pharetra et hendrerit at, rhoncus ac nunc. Nullam tempus quam egestas justo rhoncus pulvinar. Phasellus non tellus a elit pharetra sollicitudin. Nullam posuere ligula ipsum, et luctus quam commodo in. In eu congue elit. Integer orci urna, rutrum congue lacus vel, ultrices efficitur neque. Nunc maximus dui nec felis luctus, at lobortis sem facilisis. Fusce tincidunt posuere neque at rhoncus. Nulla bibendum ante nec rhoncus iaculis.
