doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    a(href='localhost:3000/') Index
    br
    a(href="localhost:3000/about") About
    br
    a(href="localhost:3000/form") Form
    br
    block content
