mixin createGrid(number)
    table(border="1")
        thead   
        tbody
          - for (var i = 0; i < number; i++)
            tr
              - for (var j = 0; j < number; j++)
                -var color = ((1<<24)*Math.random()|0).toString(16);
                td(style="background-color: #" + color) #{color}
                    br 
                    span(style="color: #ffffff") #{color}
                    